# Lab 8: SQL and Database Setup

## Introduction

In this lab we are going to practice viewing, sorting, grouping, and merging tables. 

We'll first guide you on how to set up a PostgreSQL database on Heroku. You'll use the same database for this lab as well as HW5.

In [1]:
# Run this cell to set up your notebook

import seaborn as sns
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
sns.set()

from IPython.display import display, Latex, Markdown
from client.api.notebook import Notebook
ok = Notebook('lab08.ok')

import sqlalchemy

=====================================================================
Assignment: lab08
OK, version v1.12.10
=====================================================================

In [2]:
ok.auth(force=False) # Change False to True if you are getting errors authenticating

Successfully logged in as yining.jiang@berkeley.edu

## Launching Your Heroku Postgres Database

For this assignment, you're going to use a popular cloud services provider: Heroku. This will give you some experience provisioning a database in the cloud and working on that database from your computer.

### Provisioning the Postgres DB

1. Visit https://signup.heroku.com/postgres-home-button and sign up for an account
if you don't have one already.
2. Now, install the Heroku CLI: https://devcenter.heroku.com/articles/heroku-cli.
Then, run `heroku login` to log into Heroku from your CLI.
3. Now, visit https://dashboard.heroku.com/apps and click **New -> App**. Name the app
whatever you want.
4. You should be sent to the app details page. Click **Resources** in the navbar, then
in the **Add-on** search bar, type "Postgres". You should be able to select **Heroku
Postgres**. Make sure the free tier (**Hobby Dev**) is selected and click **Provision**. Now
you should see **Heroku Postgres :: Database** in your **Add-ons** list.

### Loading the data into the Heroku DB

(1) Run the lines below in your terminal to install necessary libraries.

    conda install -y psycopg2
    conda install -y postgresql
    pip install ipython-sql
    
(2) Click the **Heroku Postgres :: Database** link in your app's **Add-ons** list.

(3) In the **Heroku Data** page you got redirected to, you should see the name of your
database. You can click on the **Setting** panel, then scroll down to **Administration** and click **View Credentials**. These are the
credentials that allow you to connect to the database. The last entry of the list
contains a line that looks like:

        heroku pg:psql db_name --app app_name

 In your terminal, take that command and add "`< fec.sql`" to the end
 to get something like:

        heroku pg:psql db_name --app app_name < fec.sql
        
 Run that command. It will run the commands in `fec.sql`, which load the dataset into the database.
 Now you should be able to run the command without the "`< fec.sql`" to
 have a postgres prompt. Try typing "`\d+`" at the prompt. You should get
 something like:
     
        ds100-hw4-db::DATABASE=> \d+
                               List of relations
         Schema |           Name           |   Type   |     Owner
        --------+--------------------------+----------+----------------
         public | cand                     | table    | vibrgrsqevmzkj
         public | comm                     | table    | vibrgrsqevmzkj
         public | ds100grades              | table    | vibrgrsqevmzkj
         public | ds100grades_recordid_seq | sequence | vibrgrsqevmzkj
         public | ds100weights             | table    | vibrgrsqevmzkj
         public | indiv_sample             | table    | vibrgrsqevmzkj
         public | indiv_sample_top         | table    | vibrgrsqevmzkj
         public | students                 | table    | vibrgrsqevmzkj
        (8 rows)

Congrats! You now have a Postgres database running containing the data you need
for this lab (and Homework 5!).

Now, let's connect to your Postgres database. On your Heroku Postgres details,
look at the credentials for the database. Take the long URI in the credentials and
replace the portion of the code that reads `"replace_me"` with the URI.

It should start with `postgres://`.

In [3]:
my_URI = 'postgres://qkkbqpufgrzlxe:89b842662c2d2c7baf1f0460d76c9178b5bd40a2c727ed803c08b00e7e2b5cb8@ec2-174-129-195-73.compute-1.amazonaws.com:5432/d1lno35dk219su'
%load_ext sql
%sql $my_URI
engine = sqlalchemy.create_engine(my_URI)
connection = engine.connect()

We will use these three tables in the lab:

+ `students`: Student name and other information; indexed by primary key `studentid`.
+ `ds100weights`: Weight of each assignment type (homework, labs etc) to the final grade. 
+ `ds100grades`: Grades per assignment per student. Can be linked to `students` using a _foreign key_ `studentid` and to `ds100weights` using `assignment` _foreign key_. 

Let's take a peek at the students table.

## Question 1

Fill in the SQL query in `q1` to display all the data in the `students` table. (Don't worry, the table isn't big enough to crash your browser.)

The `%sql` magic command comes from this package: https://github.com/catherinedevlin/ipython-sql . It conveniently lets you run SQL queries in a notebook. You should only edit the `q1` variable in the cell below.

In [4]:
q1 = '''
SELECT *
FROM students
'''

%sql $q1

9 rows affected.

[(0, 'Sergey Brin', 2.8, 40, 'CS', 'M'),
 (1, 'Danah Boyd', 3.9, 35, 'CS', 'F'),
 (2, 'Bill Gates', 1.0, 60, 'CS', 'M'),
 (3, 'Hillary Mason', 4.0, 35, 'DATASCI', 'F'),
 (4, 'Mike Olson', 3.7, 50, 'CS', 'M'),
 (5, 'Mark Zuckerberg', 4.0, 30, 'CS', 'M'),
 (6, 'Cheryl Sandberg', 4.0, 47, 'BUSINESS', 'F'),
 (7, 'Susan Wojcicki', 4.0, 46, 'BUSINESS', 'F'),
 (8, 'Marissa Meyer', 4.0, 45, 'BUSINESS', 'F')]

In [5]:
_ = ok.grade('q01')
_ = ok.backup()

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

Saving notebook... Saved 'lab08.ipynb'.
Backup... 100% complete
Backup successful for user: yining.jiang@berkeley.edu
URL: https://okpy.org/cal/ds100/fa17/lab08/backups/1wX7vR
NOTE: this is only a backup. To submit your assignment, use:
	python3 ok --submit

## Question 2

Let's get a sense of how people are doing overall in this offering of DS100. Compute the average grade of all assignments in the `ds100grades` table in the `q2` string.

In [6]:
q2 = '''
SELECT AVG(grade)
FROM ds100grades
'''

%sql $q2

1 rows affected.

[(88.8730158730159,)]

In [8]:
q20 = '''
SELECT *
FROM ds100grades
'''

%sql $q20

63 rows affected.

[(1, 'hw', 0, 100.0),
 (2, 'hw', 1, 90.0),
 (3, 'hw', 2, 91.0),
 (4, 'hw', 3, 94.0),
 (5, 'hw', 4, 100.0),
 (6, 'hw', 5, 83.0),
 (7, 'hw', 6, 97.0),
 (8, 'hw', 7, 95.0),
 (9, 'hw', 8, 90.0),
 (10, 'proj', 0, 77.0),
 (11, 'proj', 1, 93.0),
 (12, 'proj', 2, 84.0),
 (13, 'proj', 3, 91.0),
 (14, 'proj', 4, 88.0),
 (15, 'proj', 5, 93.0),
 (16, 'proj', 6, 87.0),
 (17, 'proj', 7, 82.0),
 (18, 'proj', 8, 100.0),
 (19, 'vitamins', 0, 100.0),
 (20, 'vitamins', 1, 100.0),
 (21, 'vitamins', 2, 85.0),
 (22, 'vitamins', 3, 99.0),
 (23, 'vitamins', 4, 95.0),
 (24, 'vitamins', 5, 96.0),
 (25, 'vitamins', 6, 97.0),
 (26, 'vitamins', 7, 94.0),
 (27, 'vitamins', 8, 85.0),
 (28, 'labs', 0, 84.0),
 (29, 'labs', 1, 100.0),
 (30, 'labs', 2, 100.0),
 (31, 'labs', 3, 74.0),
 (32, 'labs', 4, 95.0),
 (33, 'labs', 5, 96.0),
 (34, 'labs', 6, 92.0),
 (35, 'labs', 7, 88.0),
 (36, 'labs', 8, 98.0),
 (37, 'participation', 0, 94.0),
 (38, 'participation', 1, 98.0),
 (39, 'participation', 2, 88.0),
 (40, 'participation', 3, 88.0),
 (41, 'participation', 4, 72.0),
 (42, 'participation', 5, 79.0),
 (43, 'participation', 6, 83.0),
 (44, 'participation', 7, 89.0),
 (45, 'participation', 8, 73.0),
 (46, 'midterm', 0, 100.0),
 (47, 'midterm', 1, 80.0),
 (48, 'midterm', 2, 86.0),
 (49, 'midterm', 3, 84.0),
 (50, 'midterm', 4, 73.0),
 (51, 'midterm', 5, 86.0),
 (52, 'midterm', 6, 87.0),
 (53, 'midterm', 7, 100.0),
 (54, 'midterm', 8, 75.0),
 (55, 'final', 0, 100.0),
 (56, 'final', 1, 79.0),
 (57, 'final', 2, 76.0),
 (58, 'final', 3, 78.0),
 (59, 'final', 4, 100.0),
 (60, 'final', 5, 70.0),
 (61, 'final', 6, 79.0),
 (62, 'final', 7, 81.0),
 (63, 'final', 8, 88.0)]

In [7]:
_ = ok.grade('q02')
_ = ok.backup()

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

Saving notebook... Saved 'lab08.ipynb'.
Backup... 100% complete
Backup successful for user: yining.jiang@berkeley.edu
URL: https://okpy.org/cal/ds100/fa17/lab08/backups/DkyEOn
NOTE: this is only a backup. To submit your assignment, use:
	python3 ok --submit

## Question 3

As you have likely realized, we would rather know the overall grade for each student. This will require us to join tables together. Write a query `q3` that joins the `student` table with the `ds100grades` table so that students are matched with their assignment grades.

You will find that each student appears 7 times (why?) for a total of 63 rows.

In [11]:
# If you'd like, feel free to use a JOIN clause instead of the WHERE clause.
q3 = '''
SELECT *
FROM students as s,ds100grades as d
WHERE s.studentid=d.studentid
'''

%sql $q3

63 rows affected.

[(0, 'Sergey Brin', 2.8, 40, 'CS', 'M', 1, 'hw', 0, 100.0),
 (1, 'Danah Boyd', 3.9, 35, 'CS', 'F', 2, 'hw', 1, 90.0),
 (2, 'Bill Gates', 1.0, 60, 'CS', 'M', 3, 'hw', 2, 91.0),
 (3, 'Hillary Mason', 4.0, 35, 'DATASCI', 'F', 4, 'hw', 3, 94.0),
 (4, 'Mike Olson', 3.7, 50, 'CS', 'M', 5, 'hw', 4, 100.0),
 (5, 'Mark Zuckerberg', 4.0, 30, 'CS', 'M', 6, 'hw', 5, 83.0),
 (6, 'Cheryl Sandberg', 4.0, 47, 'BUSINESS', 'F', 7, 'hw', 6, 97.0),
 (7, 'Susan Wojcicki', 4.0, 46, 'BUSINESS', 'F', 8, 'hw', 7, 95.0),
 (8, 'Marissa Meyer', 4.0, 45, 'BUSINESS', 'F', 9, 'hw', 8, 90.0),
 (0, 'Sergey Brin', 2.8, 40, 'CS', 'M', 10, 'proj', 0, 77.0),
 (1, 'Danah Boyd', 3.9, 35, 'CS', 'F', 11, 'proj', 1, 93.0),
 (2, 'Bill Gates', 1.0, 60, 'CS', 'M', 12, 'proj', 2, 84.0),
 (3, 'Hillary Mason', 4.0, 35, 'DATASCI', 'F', 13, 'proj', 3, 91.0),
 (4, 'Mike Olson', 3.7, 50, 'CS', 'M', 14, 'proj', 4, 88.0),
 (5, 'Mark Zuckerberg', 4.0, 30, 'CS', 'M', 15, 'proj', 5, 93.0),
 (6, 'Cheryl Sandberg', 4.0, 47, 'BUSINESS', 'F', 16, 'proj', 6, 87.0),
 (7, 'Susan Wojcicki', 4.0, 46, 'BUSINESS', 'F', 17, 'proj', 7, 82.0),
 (8, 'Marissa Meyer', 4.0, 45, 'BUSINESS', 'F', 18, 'proj', 8, 100.0),
 (0, 'Sergey Brin', 2.8, 40, 'CS', 'M', 19, 'vitamins', 0, 100.0),
 (1, 'Danah Boyd', 3.9, 35, 'CS', 'F', 20, 'vitamins', 1, 100.0),
 (2, 'Bill Gates', 1.0, 60, 'CS', 'M', 21, 'vitamins', 2, 85.0),
 (3, 'Hillary Mason', 4.0, 35, 'DATASCI', 'F', 22, 'vitamins', 3, 99.0),
 (4, 'Mike Olson', 3.7, 50, 'CS', 'M', 23, 'vitamins', 4, 95.0),
 (5, 'Mark Zuckerberg', 4.0, 30, 'CS', 'M', 24, 'vitamins', 5, 96.0),
 (6, 'Cheryl Sandberg', 4.0, 47, 'BUSINESS', 'F', 25, 'vitamins', 6, 97.0),
 (7, 'Susan Wojcicki', 4.0, 46, 'BUSINESS', 'F', 26, 'vitamins', 7, 94.0),
 (8, 'Marissa Meyer', 4.0, 45, 'BUSINESS', 'F', 27, 'vitamins', 8, 85.0),
 (0, 'Sergey Brin', 2.8, 40, 'CS', 'M', 28, 'labs', 0, 84.0),
 (1, 'Danah Boyd', 3.9, 35, 'CS', 'F', 29, 'labs', 1, 100.0),
 (2, 'Bill Gates', 1.0, 60, 'CS', 'M', 30, 'labs', 2, 100.0),
 (3, 'Hillary Mason', 4.0, 35, 'DATASCI', 'F', 31, 'labs', 3, 74.0),
 (4, 'Mike Olson', 3.7, 50, 'CS', 'M', 32, 'labs', 4, 95.0),
 (5, 'Mark Zuckerberg', 4.0, 30, 'CS', 'M', 33, 'labs', 5, 96.0),
 (6, 'Cheryl Sandberg', 4.0, 47, 'BUSINESS', 'F', 34, 'labs', 6, 92.0),
 (7, 'Susan Wojcicki', 4.0, 46, 'BUSINESS', 'F', 35, 'labs', 7, 88.0),
 (8, 'Marissa Meyer', 4.0, 45, 'BUSINESS', 'F', 36, 'labs', 8, 98.0),
 (0, 'Sergey Brin', 2.8, 40, 'CS', 'M', 37, 'participation', 0, 94.0),
 (1, 'Danah Boyd', 3.9, 35, 'CS', 'F', 38, 'participation', 1, 98.0),
 (2, 'Bill Gates', 1.0, 60, 'CS', 'M', 39, 'participation', 2, 88.0),
 (3, 'Hillary Mason', 4.0, 35, 'DATASCI', 'F', 40, 'participation', 3, 88.0),
 (4, 'Mike Olson', 3.7, 50, 'CS', 'M', 41, 'participation', 4, 72.0),
 (5, 'Mark Zuckerberg', 4.0, 30, 'CS', 'M', 42, 'participation', 5, 79.0),
 (6, 'Cheryl Sandberg', 4.0, 47, 'BUSINESS', 'F', 43, 'participation', 6, 83.0),
 (7, 'Susan Wojcicki', 4.0, 46, 'BUSINESS', 'F', 44, 'participation', 7, 89.0),
 (8, 'Marissa Meyer', 4.0, 45, 'BUSINESS', 'F', 45, 'participation', 8, 73.0),
 (0, 'Sergey Brin', 2.8, 40, 'CS', 'M', 46, 'midterm', 0, 100.0),
 (1, 'Danah Boyd', 3.9, 35, 'CS', 'F', 47, 'midterm', 1, 80.0),
 (2, 'Bill Gates', 1.0, 60, 'CS', 'M', 48, 'midterm', 2, 86.0),
 (3, 'Hillary Mason', 4.0, 35, 'DATASCI', 'F', 49, 'midterm', 3, 84.0),
 (4, 'Mike Olson', 3.7, 50, 'CS', 'M', 50, 'midterm', 4, 73.0),
 (5, 'Mark Zuckerberg', 4.0, 30, 'CS', 'M', 51, 'midterm', 5, 86.0),
 (6, 'Cheryl Sandberg', 4.0, 47, 'BUSINESS', 'F', 52, 'midterm', 6, 87.0),
 (7, 'Susan Wojcicki', 4.0, 46, 'BUSINESS', 'F', 53, 'midterm', 7, 100.0),
 (8, 'Marissa Meyer', 4.0, 45, 'BUSINESS', 'F', 54, 'midterm', 8, 75.0),
 (0, 'Sergey Brin', 2.8, 40, 'CS', 'M', 55, 'final', 0, 100.0),
 (1, 'Danah Boyd', 3.9, 35, 'CS', 'F', 56, 'final', 1, 79.0),
 (2, 'Bill Gates', 1.0, 60, 'CS', 'M', 57, 'final', 2, 76.0),
 (3, 'Hillary Mason', 4.0, 35, 'DATASCI', 'F', 58, 'final', 3, 78.0),
 (4, 'Mike Olson', 3.7, 50, 'CS', 'M', 59, 'final', 4, 100.0),
 (5, 'Mark Zuckerberg', 4.0, 30, 'CS', 'M', 60, 'final', 5, 70.0),
 (6, 'Cheryl Sandberg', 4.0, 47, 'BUSINESS', 'F', 61, 'final', 6, 79.0),
 (7, 'Susan Wojcicki', 4.0, 46, 'BUSINESS', 'F', 62, 'final', 7, 81.0),
 (8, 'Marissa Meyer', 4.0, 45, 'BUSINESS', 'F', 63, 'final', 8, 88.0)]

In [12]:
_ = ok.grade('q03')
_ = ok.backup()

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

Saving notebook... Saved 'lab08.ipynb'.
Backup... 100% complete
Backup successful for user: yining.jiang@berkeley.edu
URL: https://okpy.org/cal/ds100/fa17/lab08/backups/2kYqvN
NOTE: this is only a backup. To submit your assignment, use:
	python3 ok --submit

## Question 4

Now, write a query `q4` that calculates the average grade for each student assuming that all assignment types are weighted equally. (We know they aren't, we'll get there in Question 5.)

Your query should output 9 rows, one for each student. Your table should contain two columns, the `name` of the student and the `avg` grade they got in DS100. Sort the result by descending order of average grade.

In [21]:
q4 = '''
SELECT name, AVG(grade)
FROM students as s,ds100grades as d
WHERE s.studentid=d.studentid
GROUP BY name
ORDER BY AVG(grade) desc
'''

%sql $q4

9 rows affected.

[('Sergey Brin', 93.5714285714286),
 ('Danah Boyd', 91.4285714285714),
 ('Susan Wojcicki', 89.8571428571429),
 ('Mike Olson', 89.0),
 ('Cheryl Sandberg', 88.8571428571429),
 ('Bill Gates', 87.1428571428571),
 ('Marissa Meyer', 87.0),
 ('Hillary Mason', 86.8571428571429),
 ('Mark Zuckerberg', 86.1428571428571)]

In [22]:
_ = ok.grade('q04')
_ = ok.backup()

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

Saving notebook... Saved 'lab08.ipynb'.
Backup... 100% complete
Backup successful for user: yining.jiang@berkeley.edu
URL: https://okpy.org/cal/ds100/fa17/lab08/backups/73gyzO
NOTE: this is only a backup. To submit your assignment, use:
	python3 ok --submit

## Question 5

Now, the grand finale: write a query `q5` to compute the average grade for each student, weighted correctly by the assignment weights in `ds100weights`.

Your query should output 9 rows, one for each student. Your table should contain two columns, the `name` of the student and the `overall` grade they got in DS100. Sort the result by descending order of average grade.

Hint: This is a tough one. Try breaking it down and testing your query as you go. We suggest using a WITH clause to first compute the joined table and the weighted assignment scores. Then, use a GROUP BY clause on table created by the WITH clause to compute the final overall grade.

In [24]:
q50 = '''

'''
%sql $q50

63 rows affected.

[(1, 'hw', 0, 100.0, 'hw', 0.24),
 (2, 'hw', 1, 90.0, 'hw', 0.24),
 (3, 'hw', 2, 91.0, 'hw', 0.24),
 (4, 'hw', 3, 94.0, 'hw', 0.24),
 (5, 'hw', 4, 100.0, 'hw', 0.24),
 (6, 'hw', 5, 83.0, 'hw', 0.24),
 (7, 'hw', 6, 97.0, 'hw', 0.24),
 (8, 'hw', 7, 95.0, 'hw', 0.24),
 (9, 'hw', 8, 90.0, 'hw', 0.24),
 (10, 'proj', 0, 77.0, 'proj', 0.16),
 (11, 'proj', 1, 93.0, 'proj', 0.16),
 (12, 'proj', 2, 84.0, 'proj', 0.16),
 (13, 'proj', 3, 91.0, 'proj', 0.16),
 (14, 'proj', 4, 88.0, 'proj', 0.16),
 (15, 'proj', 5, 93.0, 'proj', 0.16),
 (16, 'proj', 6, 87.0, 'proj', 0.16),
 (17, 'proj', 7, 82.0, 'proj', 0.16),
 (18, 'proj', 8, 100.0, 'proj', 0.16),
 (19, 'vitamins', 0, 100.0, 'vitamins', 0.05),
 (20, 'vitamins', 1, 100.0, 'vitamins', 0.05),
 (21, 'vitamins', 2, 85.0, 'vitamins', 0.05),
 (22, 'vitamins', 3, 99.0, 'vitamins', 0.05),
 (23, 'vitamins', 4, 95.0, 'vitamins', 0.05),
 (24, 'vitamins', 5, 96.0, 'vitamins', 0.05),
 (25, 'vitamins', 6, 97.0, 'vitamins', 0.05),
 (26, 'vitamins', 7, 94.0, 'vitamins', 0.05),
 (27, 'vitamins', 8, 85.0, 'vitamins', 0.05),
 (28, 'labs', 0, 84.0, 'labs', 0.1),
 (29, 'labs', 1, 100.0, 'labs', 0.1),
 (30, 'labs', 2, 100.0, 'labs', 0.1),
 (31, 'labs', 3, 74.0, 'labs', 0.1),
 (32, 'labs', 4, 95.0, 'labs', 0.1),
 (33, 'labs', 5, 96.0, 'labs', 0.1),
 (34, 'labs', 6, 92.0, 'labs', 0.1),
 (35, 'labs', 7, 88.0, 'labs', 0.1),
 (36, 'labs', 8, 98.0, 'labs', 0.1),
 (37, 'participation', 0, 94.0, 'participation', 0.05),
 (38, 'participation', 1, 98.0, 'participation', 0.05),
 (39, 'participation', 2, 88.0, 'participation', 0.05),
 (40, 'participation', 3, 88.0, 'participation', 0.05),
 (41, 'participation', 4, 72.0, 'participation', 0.05),
 (42, 'participation', 5, 79.0, 'participation', 0.05),
 (43, 'participation', 6, 83.0, 'participation', 0.05),
 (44, 'participation', 7, 89.0, 'participation', 0.05),
 (45, 'participation', 8, 73.0, 'participation', 0.05),
 (46, 'midterm', 0, 100.0, 'midterm', 0.15),
 (47, 'midterm', 1, 80.0, 'midterm', 0.15),
 (48, 'midterm', 2, 86.0, 'midterm', 0.15),
 (49, 'midterm', 3, 84.0, 'midterm', 0.15),
 (50, 'midterm', 4, 73.0, 'midterm', 0.15),
 (51, 'midterm', 5, 86.0, 'midterm', 0.15),
 (52, 'midterm', 6, 87.0, 'midterm', 0.15),
 (53, 'midterm', 7, 100.0, 'midterm', 0.15),
 (54, 'midterm', 8, 75.0, 'midterm', 0.15),
 (55, 'final', 0, 100.0, 'final', 0.25),
 (56, 'final', 1, 79.0, 'final', 0.25),
 (57, 'final', 2, 76.0, 'final', 0.25),
 (58, 'final', 3, 78.0, 'final', 0.25),
 (59, 'final', 4, 100.0, 'final', 0.25),
 (60, 'final', 5, 70.0, 'final', 0.25),
 (61, 'final', 6, 79.0, 'final', 0.25),
 (62, 'final', 7, 81.0, 'final', 0.25),
 (63, 'final', 8, 88.0, 'final', 0.25)]

In [27]:
q5 = '''
WITH weighted AS (
SELECT *
FROM ds100grades as d,ds100weights as w
WHERE d.assignment=w.assignment
)
SELECT name,sum(grade*weight)
FROM students as s,weighted as e
WHERE s.studentid=e.studentid
GROUP BY name
ORDER BY sum(grade*weight) desc
'''

%sql $q5

9 rows affected.

[('Sergey Brin', 94.42),
 ('Mike Olson', 91.88),
 ('Susan Wojcicki', 89.12),
 ('Marissa Meyer', 88.55),
 ('Cheryl Sandberg', 88.2),
 ('Danah Boyd', 88.13),
 ('Hillary Mason', 85.97),
 ('Bill Gates', 85.83),
 ('Mark Zuckerberg', 83.55)]

In [28]:
_ = ok.grade('q05')
_ = ok.backup()

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

Saving notebook... Saved 'lab08.ipynb'.
Backup... 100% complete
Backup successful for user: yining.jiang@berkeley.edu
URL: https://okpy.org/cal/ds100/fa17/lab08/backups/v2Px3m
NOTE: this is only a backup. To submit your assignment, use:
	python3 ok --submit

Congrats! You just learned to SQL.

## Submission

Run the cell below to run all the OkPy tests at once:

In [29]:
_ = ok.grade_all()

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

Now, run the cell below to submit your assignment to OkPy. The autograder should email you shortly with your autograded score. The autograder will only run once every 30 minutes.

**If you're failing tests on the autograder but pass them locally**, you should simulate the autograder by doing the following:

1. In the top menu, click Kernel -> Restart and Run all.
2. Run the cell above to run each OkPy test.

**You must make sure that you pass all the tests when running steps 1 and 2 in order.** If you are still failing autograder tests, you should double check your results.

In [30]:
_ = ok.submit()

Saving notebook... Saved 'lab08.ipynb'.
Submit... 100% complete
Submission successful for user: yining.jiang@berkeley.edu
URL: https://okpy.org/cal/ds100/fa17/lab08/submissions/yPVA3W
NOTE: this is only a backup. To submit your assignment, use:
	python3 ok --submit